<!DOCTYPE HTML>
<html>
  <head>
  <script type="text/javascript" language="javascript">
  <%= js %>
  </script>
  <style type="text/css">
  <%= css %>
  </style>
  </head>
  <body>
    <div id="rubalto-document">
      <%= html %>
    </div>
  </body>
</html>
